<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="login-container">
    <h2>Залогиниться</h2>
    <form name="f" action="/process_login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <div class="error">
        <!-- Сообщение об ошибке будет отображаться здесь -->
        <p th:if="${param.error}" th:text="'Invalid username or password'"></p>
    </div>
</div>

</body>
</html>
